@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root {
    --primary-color: #0f4432;
    --primary-color-dark: #42a5a1;
    --secondary-color: #e6e0c6;
    --secondary-color-dark: #efb813;
    --third-color: #e38229;
    --four-color: #8abc97;
    --negro-suave: #000000c8;
    --text-light: #fffef7;
    --font-family: 'Poppins', sans-serif;
    --padding-normal: 1rem;
    --margin-align: auto;
}


.table-container {
    display: flex;
    justify-content: center;
    margin: 0 1.5rem;
}   

.user-table, .product-table {
    width: 100%;
    display: block;
    overflow-x: scroll;
    margin: 1rem;
    justify-content: center;
    border-collapse: collapse;
    border: 2px solid #DDDDDD;
}

.table-head {
    background-color: var(--negro-suave);
    color: white;
    color: var(--negro-suave);
    padding: 10px;
}

.table-head th {
    font-family: var(--font-family);
    font-weight: 500;
    box-shadow: 0 0 1px #666;
}

.table-body {
    .table-row {
        
        td {
            padding: 10px;
        }
    }
    
}

.table-row:nth-child(even) {
    background-color: #DDDDDD;
}

.user-table :is(th, td) {
    padding: 3px;
    border: 2px solid #DDDDDD;
    font-size: 12px;
}

.product-table :is(th, td) {
    padding: .5rem;
        border: 2px solid #DDDDDD;
}


.user-avatar, .product-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.table-row {
    width: 30%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.action-btn {
    background-color: var(--four-color);
    color: white;
    padding: .25rem;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    &:not(:last-child) {
        margin-right: 5px;
    }

    &.btn-danger {
        background-color: rgb(241, 101, 101);
    }
}

.btn-editarUser,.btn-editarProduct {
    display: flex;
    justify-content: space-between;
    padding: .25rem;

}

.btn-editar, .btn-borrar{
    font-size: 1.25rem;
}

.input-container {
    margin-bottom: .5rem;
    
    .input {
        padding: .375rem .675rem;
        font-size: 1rem;
        outline: none;
        border: none;
        border-radius: 3px;
    }
}

.admin-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: .5rem;
}

.input-group {
    margin: 0 auto;
    margin-bottom: .75rem;
    display: flex;
    flex-direction: column;
}

.btn-form {
    background-color: var(--secondary-color-dark);
    color: white;
    padding: .5rem .75rem;
    border-radius: 3px;
    cursor: pointer;
    border: none;
}

@media screen and (width > 768px) {
.user-table, .product-table {
    width: 60%;
    overflow-x:hidden;
}

.user-table :is(th, td) {
    font-size: 14px;
}

}