@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root {
    --primary-color: #0f4432;
    --primary-color-dark: #42a5a1;
    --secondary-color: #e6e0c6;
    --secondary-color-dark: #efb813;
    --third-color: #e38229;
    --four-color: #8abc97;
    --negro-suave: #000000c8;
    --text-light: #fffef7;
    --font-family: 'Poppins', sans-serif;
    --padding-normal: 1rem;
    --margin-align: auto;
}

.card-container {
    padding: 1rem;
    display: flex;
    gap: .75rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 50%;
    height: auto;
    box-shadow: 0 0 1px #666;
    transition: all 300ms ease;
}

.card:hover {
    box-shadow: 0 0 6px 2px #666;
    transform: scale(1.025);
}

.card-header {
    position: relative;
    height: 220px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: .5rem;
}

.card-img { 
    width: 9rem;
    height: auto;
    object-fit: cover;
}

.card-tittle {
    font-weight: 600;
    font-size: 16px;
    color: var(--negro-suave);
}

.card-name {
    font-size: 14px;
    margin: 0;
}

.card-description {
    font-size: 12px;
    flex-grow: 1;
    margin: 0;
}

.card-values {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.card-price {
    font-weight: 600;
    color: var(--negro-suave);
}

.card-oldprice {
    font-size: 12px;
    color: gray;
    margin-right: 3px;
    text-decoration-line: line-through;
}

.cass-header {
    display: flex;
    justify-content: center;
}

.card-footer {
    display: flex;
    justify-content: center;
    background-color: white;
    border: none;
    padding: .5rem;
    justify-content: space-around;
}

.card-btn {
    font-family: var(--font-family);
    font-weight: 300;
    text-decoration: none;
    border: none;
    padding: 4px 9px;
    border-radius: 5px;
    color: var(--negro-suave);
}

.card-detail {
    padding: 3rem;
    display: flex;
    justify-content: center;
}

.card-vermas {
    display: flex;
    flex-direction: row;
}

.img-vermas {
width: 100px;
object-fit: cover;
}

.name-vermas {
    font-size: 1.5rem;
}

.description-vermas {
    font-size: 1rem;
}

.info-vermas {
    margin-top: 2rem;
}

.vermas-btn {
    cursor: pointer;
}

@media screen and (width > 768px) {
    .card {
        width: 250px;
        height: auto;
    }

    .card-img {
        width: 14rem;
    }

    div.card {
        width: 20%;
    }

    .card-description {
    margin-top: .5rem;
}

.card-values {
    margin-top: 1rem;
}

.card-footer {
    justify-content: space-between;
    padding: 1rem;
}

.name-vermas {
    font-size: 2rem;
}

.img-vermas {
    width: 300px;
    object-fit: cover;
    }

.info-vermas {
    margin-top: 4rem;
}

}